<div class="card border-success bg-light text-dark mb-3">
  <div class="card-header bg-transparent border-success">
    <h5>DATOS PERSONALES</h5>
  </div>
  <div class="card-body border-success">
    <form>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputEmail4">Rut</label>
          <input type="text" name="rut" class="form-control" requerid>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4">Nombres</label>
          <input type="text" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-5">
          <label for="inputPassword4">Apellidos</label>
          <input type="text" class="form-control" id="inputPassword4">
        </div>
        <div class="form-group col-md-2">
          <label for="inputAddress">Edad</label>
          <input type="number" class="form-control" id="inputAddress">
        </div>
      </div>
<div class="form-row">
      <div class="form-group col-md-10">
        <label for="inputAddress2">Dirección</label>
        <input type="text" class="form-control" id="inputAddress2">
      </div>

      <div class="form-group col-md-2">
        <label for="numberAddress">Número</label>
        <input type="number" class="form-control" id="numberAddress">
      </div>
</div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="text">Comuna</label>
          <select id="text" class="form-control">
            <option selected>Seleccionar...</option>
            <option>Santiago</option>
            <option>Cerrillos</option>
            <option>Cerro Navia</option>
            <option>Conchalí</option>
            <option>El Bosque</option>
            <option>Estación Central</option>
            <option>Huechuraba</option>
            <option>Independencia</option>
            <option>La Cisterna</option>
            <option>La Florida</option>
            <option>La Granja</option>
            <option>La Pintana</option>
            <option>La Reina</option>
            <option>Las Condes</option>
            <option>Lo Barnechea</option>
            <option>Lo Espejo</option>
            <option>Lo Prado</option>
            <option>Macul</option>
            <option>Maipú</option>
            <option>Ñuñoa</option>
            <option>Pedro Aguirre Cerda</option>
            <option>Peñalolén</option>
            <option>Providencia</option>
            <option>Pudahuel</option>
            <option>Quilicura</option>
            <option>Quinta Normal</option>
            <option>Recoleta</option>
            <option>Renca</option>
            <option>San Joaquín</option>
            <option>San Miguel</option>
            <option>San Ramón</option>
            <option>Vitacura</option>
            <option>Puente Alto</option>
            <option>Pirque</option>
            <option>San José de Maipo</option>
            <option>Colina</option>
            <option>Lampa</option>
            <option>Til til</option>
            <option>San Bernardo</option>
            <option>Buin</option>
            <option>Calera de Tango</option>
            <option>Paine</option>
            <option>Melipilla</option>
            <option>Alhué</option>
            <option>Curacaví</option>
            <option>María Pinto</option>
            <option>San Pedro</option>
            <option>Talagante</option>
            <option>El Monte</option>
            <option>Isla de Maipo</option>
            <option>Padre Hurtado</option>
            <option>Peñaflor</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="number">Teléfono</label>
          <input type="number" class="form-control" id="inputtelefono">
        </div>
        <div class="form-group col-md-3">
          <label for="number">Celular</label>
          <input type="number" class="form-control" id="inputcelular">
        </div>
      </div>

      <div class="form-row align-items-center">
        <div class="col-sm-4 my-1">
          <label for="text">Nombre Email</label>
          <label class="sr-only" for="inlineFormInputName">Name</label>
          <input type="text" class="form-control" id="inlineFormInputName" placeholder="Maosorior2015">
        </div>
        <div class="col-sm-4 my-1">
          <label for="text">Username</label>
          <label class="sr-only" for="inlineFormInputGroupUsername">Username........</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Gmail.com">
          </div>
        </div>

        <div class="col-auto my-3">
          <br>
           <!-- <button type="button" class="btn btn-primary mb-6 btn-lg" data-toggle="modal" data-target="#modalantecedentes" >Continuar...</button> -->

        </div>
      </div>
    </form>
  </div>
</div>
<app-antecedentes></app-antecedentes>
<app-general></app-general>
<app-diagnostico></app-diagnostico>
<app-pronostico></app-pronostico>
<app-evotra></app-evotra>
<app-presupuesto></app-presupuesto>
