<div class="card border-success bg-light text-dark mb-3">
  <div class="card-header bg-transparent border-success">
    <h5>PRONOSTICO</h5>
  </div>
  <div class="card-body border-success bg-light text-dark">
    <form>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="evaluaciontratamiento">Evaluación de Tratamiento</label>
          <label>&nbsp;</label>
          <button id="limpia"  type="button" class="btn btn-danger mb-2 float-right btn-sm">Limpiar</button>
          <button id="evatratamiento" onclick="procesar(this)" type="button" class="btn btn-success mb-2 float-right btn-sm">Hablar</button>
          <textarea type="text" class="form-control" id="txtevatratamiento"></textarea>
        </div>
      </div>
    </form>
  </div>
</div>
