<div class="card border-success bg-light text-dark mb-3">
  <div class="card-header bg-transparent border-success">
    <h5>EVOLUCIÓN DEL TRATAMIENTO</h5>
  </div>
  <div class="card-body border-success bg-light text-dark">
    <form>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="fecha">Fecha</label>
          <label>&nbsp;</label>
          <br><br>
          <input type="date" class="form-control" id="Fecha1">
        </div>
        <div class="form-group col-md-9">
          <label for="familiares">Observación</label>
          <label>&nbsp;</label>
          <button id="limpia" type="button" class="btn btn-danger mb-2 float-right btn-sm">Limpiar</button>
          <button id="familiares"  onclick="procesar(this)" type="button" class="btn btn-success mb-2  float-right btn-sm">Hablar</button>
          <textarea type="text"class="form-control"  id="txtfamiliares"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer border-success bg-light text-dark">
    <!-- <button type="button" class="btn btn-outline-primary float-right btn-sm " title="Agrega nuevos campos para el ingreso de datos" name="button">Agregar</button>
    <button type="button" class="btn btn-outline-primary float-right btn-sm " title="Quita campos para el ingreso de datos" name="button">Quitar</button> -->
    <button type="button" class="btn btn-outline-primary float-right btn-sm " data-toggle="modal" data-target="#modallisevotra" title="Visualiza todos los registros" onclick="listaTodos(this)"name="button">Listar Todos</button>
  </div>
</div>
<app-lisevotra></app-lisevotra>
