<div class="modal fade bd-example-modal-lg" id="modaladjuntar" tabindex="-1" role="document" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ficha Clínica</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-light text-dark">
        <div class="card border-success bg-silver mb-3">
          <div class="card-header bg-transparent border-success">
            <h5>ADJUNTAR ARCHIVO </h5>
          </div>
          <div class="card-body border-success bg-light text-dark">
            <form>
              <div class="form-group">
                <input type="file" id="archivo_1">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary  btn-sm" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary  btn-sm" data-toggle="modal" data-target="#modaldiagnostico">Guardar</button>
      </div>
    </div>
  </div>
</div>
