<div class="modal fade bd-example-modal-lg" id="modallisevotra" tabindex="-1" role="document" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ficha Clínica</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-light text-dark">
        <div class="card border-success bg-silver mb-3">
          <div class="card-header bg-transparent border-success">
            <h5>LISTA EVOLUCION DEL TRATAMIENTO </h5>
          </div>
          <div class="card-body border-success bg-light text-dark">
            <form>
              <div class="alert alert.info">
                no hay registros en la base de datos!
              </div>
              <table class= "table table-striped table-bordered" >
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Observación</th>
                    <th>
                      Editar
                    </th>
                    <th>
                      Eliminar
                    </th>

                  </tr>
                </thead>
                <tbody>
                   <tr >
                    <td></td>
                    <td></td>
                    <td>
                      <button type="button" name="editar" class="btn btn-primary px-3">Editar</button>
                    </td>
                    <td>
                      <button type="button" name="eliminar"  class="btn btn-danger px-3">Eliminar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary  btn-sm" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary  btn-sm" data-toggle="modal" data-target="#modallisevotra">Guardar</button>
      </div>
    </div>
  </div>
</div>
